:root {
  --primary-button-color: #e8bc26;
  --BG-color: #f0eeeb;
  --BG-color-secondary: #ede3b3;
  --text-color: #493f2f;
  --text-color-secondary: #000000;
  --footer-text-color: #525252;
  --font-family: "Montserrat", sans-serif;
}
